<td style="width: 85%; vertical-align: top;">
	<div style="padding-top: 10px">
		<div style="padding-bottom: 30px">
			A simple application which is developed in angular.js running on node server to save messages posted by a user of this application.<br>
			This application calls a message-service micro service (implemented in node.js)
				- which offers
					<ul>
						<li>GET (list messages)  		- List existing messages</li>
						<li>GET (details of a message) 	- get details of the message.</li>
						<li>Delete  						- delete a message.</li>
						<li>POST 							- save a message.</li>
					</ul>

		</div>

		<div style="padding-top: 20px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Features</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>Click on the <b>Messages</b> tab opens a new form to input a string</li>
						<li>On form submission, sends the string to the micro service, stores into a list of messages and updates the list on the
							<b>Messages</b> page</li>
						<li>Click any message in the list of messages to see the details</li>
						<li>Details include message text, date it is posted, and displays if it is a palindrome</li>
						<li>Click on 'X' to delete a message from the list.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div></div>

</td>