<td style="width: 85%; vertical-align: top;">
	<div style="padding-top: 10px">
		<div style="padding-bottom: 30px">
			A simple application which is developed in angular.js running on node server to find out if
			a given string is palindrome or not.<br>
			This application calls a palindrome-service node.js micro service
				- which offers
					<ul>
						<li>GET (list palindromes)  		- List existing palindromes</li>
						<li>GET (details of a palindrome) 	- get details of the palindrome.</li>
						<li>Delete  						- delete a palindrome.</li>
						<li>POST 							- Check if a given string is palindrome, if yes then store it.</li>
					</ul>

		</div>
		<!--
							Different views will be loaded based on the routes
							 -->
		<div style="padding-top: 20px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Features</h3>
				</div>
				<div class="panel-body">
					<ul>
						<li>Click on the Check palindrome tab opens a new form to input a string</li>
						<li>On Check palindrome form submission, validates the string on the micro service, stores
							(if valid) into a valid list of palindromes and updates the list on the <b>Check palindrome</b> page</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</div></div>

</td>