<td style="width: 85%; vertical-align: top;">
	<div>
		A simple application post messages using a micro service at the back end.<br>
		Check to see if the message is palindrome by clicking on the message from the list.
	</div>
	<div style="padding-bottom: 50px;padding-top: 10px;">
		<table style="width: 100%">
			<tbody><tr>
				<td colspan="2" style="width: 100%;">
					<div class="alert alert-info ng-binding" role="alert"></div>
				</td>
			</tr>
			<tr>
				<td class="col-md-4" style="vertical-align: top">
					<form name="pallyndromeCheckForm" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" ng-submit="saveMessage()">
						<div class="form-group">
							<div class="col-md-5">
								<input placeholder="Input any string" type="text" style="width:300px" class="form-control ng-pristine ng-invalid ng-invalid-required" name="messageInput" ng-model="messageInput" required="">
								<div style="width: 200px;font-size: 15px;font-weight: 800;" class="{{pallyndromeValidityClass}}" ng-show="pallyndromeCheckForm.messageInput.$error.pallyndromeResult">{{pallyndromeCheckForm.messageInput.$error.pallyndromeResult}}</div>
							</div>
						</div>
						<div class="form-group">
							<div style="padding-left: 128px">
								<input type="submit" value="Submit" class="btn btn-primary">
							</div>
						</div>
					</form>
				</td>
				<td class="col-md-4" style="vertical-align: top">
					<div class="minimum-height">
						<table class="table">
							<tbody>
							<tr>
								<th>Messages</th>
							</tr>
							<tr ng-repeat="data in messages" class="ng-scope">
								<td class="ng-binding">
									<a href="#" ng-click="getMessageDetails(data.input)">{{data.input}}</a>
								</td>

								<td class="ng-binding">
									<a href="#" ng-click="deleteMessage(data.input)">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td class="col-md-4" style="vertical-align: top">
					<div ng-if="hasPallyndromeDetails">
					<table class="table">
						<tbody><tr>
							<th>Message Details</th>
						</tr>
						<tr class="ng-scope">
							<td class="ng-binding"><span>Message:</span><span class="pallindromeDetailsText">{{pallyndromeDetails.input}}</span></td>
						</tr>
						<tr class="ng-scope">
							<td class="ng-binding"><span>Date posted:</span><span class="pallindromeDetailsText">{{pallyndromeDetails.date}}</span></td>
						</tr>
						<tr class="ng-scope">
							<td class="ng-binding"><span>Palindrome:</span><span class="pallindromeDetailsText">{{pallyndromeDetails.palindrome}}</span></td>
						</tr>
						</tbody></table>
					</div>
				</td>
			</tr>
			<tr>
				<td class="col-md-4" style="vertical-align: top">&nbsp;</td>
				<td class="col-md-4" style="vertical-align: top">
					<div ng-if="hasDeleted">
						<table class="table">
							<tbody>
							<tr class="ng-scope">
								<td class="ng-binding"><b>{{deletedMessage}}</b></td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody></table>
	</div>

</div></div>
</td>