<td style="width: 85%; vertical-align: top;">
	<div>
		A simple application to submit the input strings to check if it is a pallyndrome or not.
		If it is a valid pallyndrome, it gets added to the list on the right, and the list/pallyndromes are persisted at the server.
	</div>
	<div style="padding-bottom: 50px;padding-top: 10px;">
		<table style="width: 100%">
			<tbody><tr>
				<td colspan="2" style="width: 100%;">
					<div class="alert alert-info ng-binding" role="alert"></div>
				</td>
			</tr>
			<tr>
				<td class="col-md-4" style="vertical-align: top">
					<form name="pallyndromeCheckForm" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" ng-submit="checkPallyndrome()">
						<div class="form-group">
							<div class="col-md-5">
								<input placeholder="Input any string" type="text" style="width:300px" class="form-control ng-pristine ng-invalid ng-invalid-required" name="pallyndromeStr" ng-model="pallyndromeStr" required="">
								<div style="width: 200px" class="{{pallyndromeValidityClass}}" ng-show="pallyndromeCheckForm.pallyndromeStr.$error.pallyndromeResult">{{pallyndromeCheckForm.pallyndromeStr.$error.pallyndromeResult}}</div>
							</div>
						</div>
						<div class="form-group">
							<div style="padding-left: 128px">
								<input type="submit" value="Submit" class="btn btn-primary">
							</div>
						</div>
					</form>
				</td>
				<td class="col-md-4" style="vertical-align: top">
					<div class="minimum-height">
						<table class="table">
							<tbody>
							<tr>
								<th>Pallyndromes</th>
							</tr>
							<tr ng-repeat="data in pallyndromes" class="ng-scope">
								<td class="ng-binding">
									<a href="#" ng-click="getPallyndromeDetails(data.input)">{{data.input}}</a>
								</td>

								<td class="ng-binding">
									<a href="#" ng-click="deletePallyndrome(data.input)">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td class="col-md-4" style="vertical-align: top">
					<div ng-if="hasPallyndromeDetails">
					<table class="table">
						<tbody><tr>
							<th>Pallyndrome Details</th>
						</tr>
						<tr class="ng-scope">
							<td class="ng-binding"><span>Pallyndrome:</span>{{pallyndromeDetails.input}}</td>
						</tr>
						<tr class="ng-scope">
							<td class="ng-binding"><span>Date checked:</span>{{pallyndromeDetails.date}}</td>
						</tr>
						<tr class="ng-scope">
							<td class="ng-binding"><span>Times Checked:</span>{{pallyndromeDetails.pallyndromeCheckedCount}}</td>
						</tr>
						</tbody></table>
					</div>
				</td>
			</tr>
			<tr>
				<td class="col-md-4" style="vertical-align: top">&nbsp;</td>
				<td class="col-md-4" style="vertical-align: top">
					<div ng-if="hasDeleted">
						<table class="table">
							<tbody>
							<tr class="ng-scope">
								<td class="ng-binding"><b>{{deletedMessage}}</b></td>
							</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			</tbody></table>
	</div>

</div></div>
</td>