<td style="width: 85%; vertical-align: top;">
	<div style="padding-top: 15px">
		<!-- Summary goes here -->
		A simple for to submit the input strings to check if it is a pallyndrome or not.
		If it is a valid pallyndrome, it gets added to the list on the right, and the list is persisted at the server.
	</div>
	<div style="padding-bottom: 50px">
		<table style="width: 100%">
			<tbody><tr>
				<td colspan="2" style="width: 100%; padding-top: 10px;">
					<div class="alert alert-info ng-binding" role="alert"></div>
				</td>
			</tr>
			<tr>
				<td style="width: 45%; padding-left: 40px; vertical-align: top">
					<div style="padding-bottom: 20px">
						<h3>Here you go</h3>
					</div>
					<form name="pallyndromeCheckForm" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" ng-submit="checkPallyndrome()">
						<div class="form-group">
							<label class="col-md-4 control-label">Give input</label>
							<div class="col-md-5">
								<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" name="pallyndromeStr" ng-model="pallyndromeStr" required="">
								<span ng-show="pallyndromeCheckForm.pallyndromeStr.$error.pallyndromeResult">{{pallyndromeCheckForm.pallyndromeStr.$error.pallyndromeResult}}</span>
							</div>
						</div>
						<div class="form-group">
							<div style="padding-left: 200px">
								<input type="submit" value="Submit" class="btn btn-primary">
							</div>
						</div>
					</form>
				</td>
				<td style="vertical-align: top">
					<table class="table">
						<tbody><tr>
							<th>Pallyndromes</th>
						</tr>
						<tr ng-repeat="str in pallyndromes" class="ng-scope">
							<td class="ng-binding">{{str}}</td>
						</tr>
						</tbody></table>
				</td>
			</tr>
			</tbody></table>
	</div>

</div></div>
</td>